@import "./variables.scss";


div.card {
  border: none;
  border: radius 0px !important;

  div.card-content {
    position: relative;
    top: 0;
    left: 0;
    height: $card-content-height;
    transition: transform 250ms ease;
    cursor: pointer;
  }

  div.card-content {
    color: #fff;
    background-color: $color-gray;
  }

  div.card-buttons {
    z-index: +2;
    width: 100%;
    height: $card-button-height;
    div.card-button-icon {
      width: 100%;
      height: $card-button-height;
    }
  }

  div.card-buttons {
    z-index: +2;
    width: 100%;
    height: $card-button-height;
    div.card-button-icon {
      width: 100%;
      height: $card-button-height;
    }
  }
  
  div.card-button-icon {
    opacity: 0.5;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.1s;
    &:hover {
      opacity: 1;
    }
  }
  

  div.card-button-icon {
    opacity: 0.7;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.1s;
    &:hover {
      opacity: 1;
    }
  }
}


div.card-download {
  position: absolute;
  top: 0;
  width: 100%;
  height: $card-content-height;
  div.report-box {
    opacity: 0.7;
    position: relative;
    height: 80px;
    width: auto;
    border-radius: 3px;
    background: darken($color-gray, 15%);
    div.download-text {
      margin-left: 14px;
      div {
        opacity: 0.6;
      }
    }
    &:hover {
      opacity: 1;
    }
  }
  .download-carat {
    position: absolute;
    bottom: 46px;
  }
}


div.card-header {
  z-index: +2;
  width: 100%;
  height: $card-header-height;
  position: relative;
  border-radius:none;
  div.card-header-title {
    float: left;
    text-align: left;
    p {
      opacity: 0.6;
      padding: 0;
      margin: 0;
    }
  }
  div.card-header-icon {
    float: right;
    text-align: right;
  }
}

.card-header {
  &.success {
    background-color: rgb(23, 146, 23);
  }
  &.primary {
    background-color: rgb(16, 140, 189);
  }

  &.warning {
    background-color: rgb(240, 157, 33);
  }
  &.danger {
    background-color: rgb(233, 27, 27);
  }
}

div.card-image {
  position: absolute;
  top: 0;
  left: 0;
  height: $card-content-height;
  width: 100%;
  background-position: center;
  background-size: cover;
  .image-meta {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-size: 0.8em;
    color: #fff;
  }
}


div.card-time {
  position: absolute;
  top: 0;
  left: 0;
  height: $card-content-height;
  width: 100%;
  .time-total {
    height: 80px;
    //background-color: red;
    .legend {
      width: 80px;
      opacity: 0.5;
    }
  }
  .chart-div {
    height: 80px;
    //background-color: gold;
    .chart-wrapper {
      height: 24px;
      background: darken($color-gray, 10%);
    }
  }
}

